#main {
  display: flex;
  gap: 5px;
}

#main > div {
  flex-basis: 30%;
  border: 1px solid black;
  min-height: 100px;
  padding: 5px;
  display: auto;
}


#btn {
  display: flex;
  margin: 10px;
}

span
{
  color: #dc143c;
}
/* #order {
  display: auto;
} */

#order.invisible{
  display: none;
}

#main.invisible{
  display: none;
}

#orders.invisible{
  display: none;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}