
#regForm {
    background-color: #ffffff;
    margin: 10px auto;
    /* padding: 20px; */
    width: 70%;
    min-width: 300px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}


input.invalid {
    background-color: #ffdddd;
}


.tab {
    display: none;
}


.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
}

.table {
    margin: 10px auto;
    border: 1px solid #eee;
    table-layout: fixed;
    width:80%;
    margin-bottom: 20px;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: #F7F7F7;
}