#btn-go {
  border: 1px;
  border-radius: 8px;
  border-color: blue;
  background-color: #2be28d;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  display: auto;
}

.inv {
  display: none;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}
